@charset "UTF-8";

/*共通部分
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
html{
	font-size: 100%;
}



body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: #333333;

	min-width: 1000px;	/*PC用の横幅を指定*/
	}

/*スマートフォンのブレイクポイント*/
@media screen and (max-width: 641px){
	body {
		/*初期化*/
		min-width: initial;
	}
}

a{
	text-decoration: none;
	color: #333333;
}

img{
	max-width: 100%;
}


.main-nav{
	display: flex;
	font-size: 1.1rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}

.main-nav li{
	margin-left: 20px;
}

.main-nav a{
	color: #333;
}

.main-nav a:hover{
	color: #3264a6;
}

.page-box{
	width: 100%;
	height: 100px;
	z-index: 80;
	background-color:#fff;
	border-bottom: 2px solid #3264a6;
	position: fixed;
}

.page-header{
	display: flex;
	position: fixed;
	z-index: 90;
	padding: 8px; 
	left: 5%;
	right: 5%;
	justify-content: space-between;
}
	
.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.5% 4%;
}

.page-header h1{
	font-size: 1.5rem;
}

.page-header p{
	font-size: 1rem;
}


footer{
	background: #3264a6;
	text-align: center;
	padding: 26px 0;
}

footer p{
	color: #fff;
	font-size: 0.875rem;
}

h2{
	max-width: 900px;
	margin: 20px auto;
	border: solid;
	border-width: 1px; 
	border-color: #3264a6;
	font-size: 1.2rem;
	text-align: center;
	color: #3264a6;
	padding: 10px 0;

}

h3{
	max-width: 800px;
	border-bottom: dotted;
	border-bottom-color: #3264a6;
	margin: 10px auto 10px;
	padding: 10px 0 10px;

}

.top-main{
	width: 900px;
	padding-top: 120px;
	margin: 0 auto; 
	margin-top: 0px;  

}

.main{
	width: 900px;
	margin: 0 auto; 
}

.menu-content{
	display: none; /*スマホ用メニュー非表示*/
}



/*共通部分 ここまで
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*TOP ページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*スライド
ーーーーーーーーーーーーーーーーーーーーーーーー*/
.slideshow {
	width: 900px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/* :::::: slideContents :::::: */
.slideContents {
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
}
.slideContents section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}
.slideContents section img {
	max-width: 100%;
	vertical-align: middle;
}

/* :::::: mechanism :::::: */
.slideContents #slide1 {
	position: relative;
}
.slideContents section {
	animation: autoplay 30s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes autoplay {
	0%, 16%, 100% { transform: none; }
	20% { transform: translateX(-100%); }
	20.001%, 96% { transform: translateX(100%); }
}
.slideContents #slide1 { animation-delay: 0s; }
.slideContents #slide2 { animation-delay: -24s; }
.slideContents #slide3 { animation-delay: -18s; }
.slideContents #slide4 { animation-delay: -12s; }
.slideContents #slide5 { animation-delay: -6s; }

/*スライド　ここまで
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.top-concept {
	margin-top: 20px; 
	font-family: serif;
	font-size: 2rem;
	text-align:center;

}

/*TOP　バナー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.link-before_bnr{
	width: 900px;
	margin: 30px auto 0;
}


.link-bnr{
	display: flex;
	width: 800px;
	margin: 30px auto;
}


.link-bnr img{
	padding: 0px 10px;
}

.link-bnrbox{
	width: 100vw;
	padding: 20px;
	background-color: #E6E6E6;
	margin-top: 80px;

}
.link-bnr2{
	display: flex;
	width: 600px;
	margin: 30px auto;
}

.link-bnr2 img{
	padding: 0px 20px;
}



/*TOP　バナー以外
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.side {
	width: 900px;
	margin: 0 auto; 
	margin-top: 30px;
}


.more {
	width: 200px;
	margin: 0 auto; 
	text-align: center;
	padding: 10px;
	background-color: #3264a6;
	margin-top: 30px;/*文字位置指定*/
	margin-bottom: 30px; 
	border-radius:10px;
}

.more a{
	color: #ffffff;
}
.blog-bnr{
	width: 300px;
	text-align: center;
	margin: 0px auto;

}

/*TOP ページ ここまで
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*表組み
ーーーーーーーーーーーーーーーーーーーーー*/
.grid{
	max-width: 850px;
	display: grid;
	gap:26px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 3%;
}

.wrapper{
	margin:25px auto 50px;
	

}
.item a:hover img,.link-bnr a:hover img,.link-bnr2 a:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

/*WORKS 詳細 ページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.big-box{
	grid-column: 1/3;
	grid-row:1/3;
}

.big-box img{
	width:100%;
}

.table-text{
	line-height: 1.5;
	text-align: left;
	margin-top: 15px;
}

.table-text p{
	padding-left:4.5em;
    text-indent:-4.5em;
	margin-top: -15px;
}

.vr-btn{
	margin-top:-100px; 
}
/*ページネーション
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.pager .pagination {
	text-align: center;
	margin: 30px auto 10px;
  }
  
  .pager .pagination li {
	display: inline;
	margin: 0 2px;
	padding: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	position: relative;
	border-radius: 10px;
  }
  
  
  .pager .pagination li a{
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display:table;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
  }
  
  .pager .pagination li a span{
	display:table-cell;
	vertical-align:middle;
  }
  
  .pager .pagination li a:hover,
  .pager .pagination li a.active{
	color: #fff;
	background: #3264a6;
  }
  

  

/*WORKS 詳細 ページ　ここまで
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*コンセプト　ページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.concept-box{
	width: 800px;
	margin: 0px auto;
	padding: 10px;
}
.concept-contents{
	width:47.5%;
	margin: 0px auto;
	padding: 0px;
}

.concept-box strong{
	font-family: serif;
	font-size: 2em;
	text-align:center;
} 


.concept h4,.concept-box h4,.course-plan-table3 h4,.course-title h4{
	font-size: 1.2rem;
	width: 100%;
	margin: 30px auto 10px;
	padding: 0.3rem 1rem  0.3rem 1rem;
	background-color:#3264a6;
	color:#fff;
}

.course-title {
	width: 800px;
	margin: 0 auto;


}

figure {
	margin-top:-20px;
	padding: 10px; 
	text-align: left;
	float: left;
}


.profile-box{
	width: 800px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

.about,.concept-photo{
	width: 100%;
	margin:20px 10px 0 10px; 
}

.message{
	width: 100%;
	margin:10px 0; 
	padding: 10px;
}

.concept-message{
	width: 100%;
	padding: 0px;
}


.concept-message h5 {
	color: #3264a6;
	font-size: 1rem;
}

.message-box{
	width: 750px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 20px;
}






.project{
	width: 800px;
	margin: 0px auto;
	padding: 10px; 
}

.project p{
	margin: 0 auto;  
	padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.project-photo{
	width: 100%;
	display: flex;
}
.project-photo img{
	width: 50%;
	padding: 15px 0;
	}



.profile-box{
	width: 700px;
	margin: 0 auto;
}

.profile-photo{
	width: 25%;
	padding: 20px;
}

.profile-text{
	width: 75%;
	padding: 15px 15px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/*フロー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.flow-contents{
	width: 900px;
	margin: 0 auto 30px;
}

.Inner {
  margin: 0 auto;
  width: 800px;
  margin-top:30px; 
}

.Inner p{
  margin: 0;
  padding: 0;
}

.List-Item {
  border-top: 1px solid #ddd;
  width: 100%;
}

.List-Item:nth-of-type(1) {
  border-top: 0;
}
.List-Item-Content {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 700px;
  display: flex;
}

.List-Item-Content.one {
  padding-top: 3px;
}	
.List-Item-Content-Number {
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #3264a6;
  color: #fff;
  font-size: 2rem;
}

.List-Item-point-text{
	width: 600px;
	margin: 0 auto;
}

.List-Item-point-text ul{
	list-style: none;
	background-color: #cce9ff;
  	padding: 1em 1em 1em 1em;
	}

.List-Item-point-text p{
	font-size: 1.2rem;
	color: #3264a6;
	font-weight: bold; 
}

.List-Item-point-text li{
	margin: 10px auto;
	text-align: left;
	padding: 0.3rem;
	padding-left: 1em;
    text-indent: -1em;
    border-bottom:2px dashed;
    border-color:#fff; /* 線の色 */
}



.List-Item-point{
	margin-top:20px; 
	width: 600px;
    padding: 5px;
	text-align: center;
	background-color: #3264a6;
	  color: #fff;
}

.List-Item-Content-Title {
	margin: 5px 0; 
  margin-right: 20px;
  flex-basis: 220px;
  color: #3264a6;
  font-size: 30px;
}


.List-Item-Content-Description {
  width:600px; 
  line-height: 1.5;
  font-size: 16px;
}


.flow-btn{
	height: 30px;
	text-align: right;
	margin: 20px 0 30px 0;
}

/*コンタクト
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.form-box{
	width: 800px;
	min-height: 500px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.button-blue{
	width: 200px;
	text-align: right;
	font-size: 1rem;
	background: #3264a6;
	color: #fff;
	border: solid;
	padding: 10px 30px;
	border-radius:10px;
}

.button-green:hover,.button-blue:hover{
	background: #447dc7 ;
	}

.mail-btn,.link-btn{
	text-align: right;
	margin: 20px 0;

}
.request-box{
	width: 800px;
	margin: 0 auto;

}

.request-box img{
	width: 100%;
	padding: 0 70px;
	margin-bottom:30px; 

}

.form-box p,.request-box p{
	padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-align: justify;
}

.design-btn{
	text-align: center;
	margin-bottom: 50px;
}


/*カンパニー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
table{
	width: 700px;
	margin: 15px auto; 
	border-spacing: 10px;
	padding-bottom: 30px; 
}

.company-box th,.history-box th{
	width: 80px;
	border-bottom: 1px solid #333;
	vertical-align: top;
	font-size: 1rem;
	color: #333;
}

.company-box td,.history-box td{
	color: #333;
	text-align: left;
	border-bottom: 1px solid #333;
	padding-left: 1rem;
	padding: 5px 0;

}

.company-box,.history-box,
.access-box{
	width: 700px;
	margin:0 auto; 
}

.access-map{
	margin:10px; 
}

#menu-btn-check{
    display: none;
   
    }

/*FAQ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.faq-box{
	width: 800px;
	margin: 0 auto 60px;

}
.acd-check{
    display: none;
}
.acd-label{
	height: 100%;
    background: #3264a6;
    color: #fff;
    display: block;
    margin-top:25px; 
    padding: 10px;
}
.acd-content{
    border: 1px solid #432;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    margin-top: 0px;
    margin-bottom: 10px; 
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 100%;
    opacity: 1;
    padding: 10px;
    visibility: visible;
  	text-indent: -1.25em;
  	padding-left: 2em;
  	overflow-wrap: break-word;
  	word-wrap: break-word;
  	 text-align: justify;
}

/*お手伝いサービス
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.service-box{
		width: 800px;
		margin: 0px 50px;
		padding: 10px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		text-align: justify;
	}

	.service-sample{
		width: 800px;
		margin: 20px auto 0;
		border: 2px solid #3264a6;
		border-radius: 5px;

	}

	.service-text,.service-text2{
		width: 700px;
		margin:0 auto;
	}	

	.service-text0 h5{
		width: 90%;
		font-size: 1.5rem;
		color: #3264a6;
		text-align: left;
		margin: 50px 0 0;
		overflow-wrap: break-word;
		word-wrap: break-word;
		text-align: justify;
	}

	.service-text h5{
		width: 100%;
		font-size: 1.5rem;
		color: #3264a6;
		text-align: center;
		margin: 20px 0;
	}

/*お手伝いサービス　手書き図
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.service-sample-box{
		width: 700px;
		margin: 0 auto;
		display: flex;

}

	.course-box-tegaki{
		width: 300x;
		text-align: right;
		margin-top: 20px;
	}

	.course-item-tegaki{
		width: 250px;
		text-align: right;
		padding: 10px;
		background-color: #E6E6E6;
		margin: 0 5px;
	}


	.course-box{
		width:750px;
		margin: 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-between;
	
	}
	.course-item{
		width: 22%;
		padding: auto;
		padding: 10px;
		background-color: #E6E6E6;
		margin: 10px 8px;
	}

	.expansion {
		height: 25px;
		text-align: center;

	}
	.mini{
		height: 25px;

		margin-bottom: -5px;
	}

	.note-text{
		width: 700px;
		margin: 10px auto;
		font-size: 0.8rem;
	}

	.app-box{
		width: 650px;
		margin: 50px auto ;
		border: 2px solid #3264a6;
		border-radius: 5px;
		padding: 30px 5px 0 0;
		position: relative;
		}

	.app-text{
		display: flex;
		margin: 0 auto;
		padding: 0;
		text-indent: 0em;
		padding-left: 0em;
		}
		
	.app-box::before {
		background-color: #fff;
		color: #3264a6;
		content: "アプリ紹介";
		font-weight: bold;
		left: 35px;
		padding: 3px 8px 0 8px;
		position: absolute;
		top: -15px;
		}

		.app-photo img{
			width: 110px;
			margin: 50px　auto;
			
		}

	.app-btn{
		margin:50px auto 0;
	}

	/* 
TABLE
================================================ */
.course-plan-box{
	width: 800px;
		display: flex;
		margin: 0 auto;
		margin-top: 20px;
		justify-content: space-around;
		
}


.course-plan-table{
	width: 100%;
	padding: 10px;
	margin: 10px 10px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.plus-photo{
	width: 70px;
	margin: 0 auto;
	padding: 10px;
}
.course-plan-table2{
	width: 50%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid #ddd;
}

.course {
	width: 330px;
	margin: 0 auto ;
	padding: 0 10px;
  }


  .course th, .course td {
	padding: 10px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #E6E6E6;;
	border-right: 1px solid #E6E6E6;;
	border-left: 1px solid #E6E6E6;;
	border-bottom: 1px solid #333;
  }
  .course th{
	color: #fff;
  }
  .course-price {
	color: #fff;
	font-size: 2rem;
	border-top: 1px solid #E6E6E6;
	padding: 20px 0;
	line-height:1.5rem;
  }
  .pcourse-price span {
	font-size: 1rem;
  }
  
  /* Background colour */
  .course th,
  .course-price {
	background: linear-gradient(-90deg, #3671BF, #79ACD9);
  }

  .course img{
	  max-width: 200px;
	  margin: 10px auto;
	  padding: 0 10px;
  }
  
  /*手順フロー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.course-plan-table3{
	width:800px ;
	margin: 30px auto;
	padding: 10px;
	
}
.steps-box{
	display: flex;
	margin: 20px auto;
}

.col-md-3{
	width: 25%;
	padding-right:5% ;
}
.text-blue{
	font-size: 1.5rem;
}
.text-blue,.form-explain,.steps-title p{
	color: #fff;
	margin-top: 5px;

}
.steps-title {
  width: 100%;
  height: 240px;
  background: #71A8D9;
  text-decoration: none;
  color: #333333;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.steps-title img{
	width: auto;
	height: 70px;
	margin: 10px;
	text-align: center;
}

.form-explain {
	width: 80%;
	font-size: 0.8rem;
	line-height: 1.4;
	padding-bottom:10px ;
	text-align: left;
}

.steps-title::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 40px solid #71A8D9;
  position: absolute;
  top: 0%;
  margin-top: -0px;
  left: 100%;
  z-index: 2;
}


   
  
  
  
 


	

/*モバイル版
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
@media (max-width: 640px){
	.page-box{
		width: 100%;
		height: 90px;
		top: 0;
		background-color:#fff;
		border-bottom: 2px solid #3264a6;
		position: fixed;
		}
	
	
		.page-header{
			width: 70%;
			padding: 0;
			margin-left: -3%;
	}

		.page-box img{
		    height: 90px;
			margin: 0;
	}
	/*HEADER  非表示
		.page-header h1{
			width: 85%;
			font-size: 4.2vw;
			padding: 0px 10px;
	}

	.page-header p{
			font-size: 3.5vw;
		}

		.main-nav{
			font-size: 0.9rem;
			margin-top: 10px; 
	}
		.main-nav li{
			margin: 0 12px;
	}*/

	.menu-content{
		display:initial;
	}
	
	.main-nav{
		display:none;
		
	}

/*ハンバーガーメニュー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.menu-btn {
	position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3264a6;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}
	
/*ハンバーガーメニュー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/	

/*「×」マーク
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}
/*「×」マーク
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/	
/*メニューリスト
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/	
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3264a6;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 15px 15px 10px 20px;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 25px;
}
	
/*メニューリスト
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3264a6;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
/*メニューリスト　ここまで
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*  トップ　一覧 */
	.more{
		width: 95%;
		margin-top: -50px;
	}

	/*  grid */
	.grid {
		width: 99%;
		display: grid;
		gap:15px;
		grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
		text-align: center;
	}

	.item{
		margin-bottom: 10px; 
	}

	.big-box{
		width: 100%;
		margin: 0 auto;
		grid-column:auto;
		grid-row: auto;
	}
	.big-box img{
		height: auto;
	}

	.table-text{
		width: 90%;
		margin: 0 auto;
			line-height: 1.2;
	}

	/*  PC以外のスライド指定 */

	.slideshow {
		width: 100%;
		margin-top:20px; 
	}

	.slideContents section img {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}

	figure {
		margin-top:-10px ;
		padding:30px;
	}

	.concept-photo{
		margin:0;
		padding: 0;
	}


	.concept-contents,.project-photo,.link-bnr,.link-bnr2,.app-text,.course-plan-box,.steps-box,
	.service-sample-box{
		flex-direction: column; 

	}

	.project-photo img{
		width: 90%;
		margin: 0 auto;
	}

	.request-box img{
		padding: 0;
		margin: 0

	}

	/*  	外枠　　　　　　　　　　 
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.top-main{
		width: 100%;
		padding-top:50px;
		margin:30px 0; 
	}


	.main,.concept-contents,.message,.about,.history-box,.acd-label,
	.project,.access-box,.request-box,.side,.plofile-box,.form-box,.message-box,
	.company-box,.flow-contents,.service-sample,.course-plan-table,.course-plan-table2,
	.course-title,.service-sample-box{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}

	.message-box{
		padding: 10px;
	}
	.faq-box,.concept-box{
		width: 100%;
	}

	.service-box{
		width: 100%;
		margin: 0;
	}

	.steps-box{
		width: 100%;
		margin: 10px auto;
	}

	.course-box-tegaki{
		width: 100%;
		margin: 0 auto;
	}

	.course-box{
		width: 80%;

	}
	.course-item-tegaki{
		width: 50%;
		margin: 0 auto;
	}
	.service-text,.service-sample,.course-title,.service-text0{
		width: 95%;
		margin: 0 auto;
	}

	.app-box{
		width: 80%;
		margin: 0 auto;
	}
	.app-photo{
		width: 60%;
		margin:0 auto;
		text-align: center;
		padding: 0;
	}

	.service-text0 h5{
		width: 95%;
		margin: 0 auto;

	}

	.app-photo img{
		width: 80%;
		}

	.app-box{
		margin: 20px auto ;
		border: 2px solid #3264a6;
		border-radius: 5px;
		padding: 10px 10px 0 10px;
		position: relative;
		}


	.app-box::before {
		font-size: 1.3rem;
		left: 30%;
		right: 30%;
		top: -20px;
		}
	.app-text p,.course-title p{
		text-align: left;
		}
	
	.app-btn{
		margin: 20px 0 20px;
		text-align: center;
		}

	.form-box{
		text-align: center;
		padding: 0;
	}

	.side {
		margin-top: 30px;
	}

	.course-box{
		width:95%;
		margin: 10px;
	}
	.course-item{
		width: 45%;
	}


	/* バナー　　　　　　　　　 
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.link-before_bnr{
		width: 90%;
		margin:20px auto 5px; 
	}

	.link-bnr,.link-bnr2{
	width: 90%;
	margin:0 auto;
	padding: 0;
	}
	.link-bnr img,.link-bnr img{
	width: 100vw;
	padding: 0;
	}

	.blog-bnr{
	width: 90%;
	margin-bottom: 0px;
	}


	/* FAQ・ボタン
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.acd-label{
		padding-top:10px; 
		padding-left:10px; 
		padding-bottom: 10px; 
		margin-bottom: 5px; 
		text-align: left;
		text-indent: -1.25em;
  		padding-left: 2em;
	}

	.acd-content{
		text-align: left;
	}

	.button-blue{
		margin: 0 auto;
		text-align: center;
	}

	.vr-btn{
	margin-top:0px; 
}

	.button-gray{
		margin: 0 auto;
		text-align: center;
	}



	.link-btn{
	text-align: center;
	margin: 20px 0;

}

	.access-map{
		width: 90%;
		margin:0 auto; 
		margin-bottom: 50px;
	}


	.flow-btn{
		width: 100%; 
		height: 30px;
		text-align:center;
		margin: 20px auto;
	}
	
	/* 文字
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
	.top-concept p{
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
	}


	.concept-message ,.service-text{
		text-align: left;
		width: 98%;
		margin: 5px auto;
		overflow-wrap: break-word;
		word-wrap: break-word;
		text-align: justify;
	}

	.note-text{
		width: 90%;
		text-align: left;

	}

	.service-text0 h5,.service-sample-box h5{
		width: 95%;
		font-size: 1.2rem;
		text-align: left;
		margin: 10px auto;
		overflow-wrap: break-word;
		word-wrap: break-word;
		text-align: justify;
	}

	.more{
		margin-top:10px; 
	}
	.more p,footer p{
		text-align: center;
	}



	/* 文字
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
	.message p ,.project p,.request-box p,.form-box p{
		text-align: left;
		width: 90%;
		margin: 5px auto;
		overflow-wrap: break-word;
		word-wrap: break-word;
		text-align: justify;
	}

.concept-message ,.concept-box p{
	width: 100%;
	text-align:left;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-align: justify;
	margin-bottom: 10px;
}
*/
	.about img{
		width: 90%;
		margin: 0 auto;
	}

	.project h4{
		word-wrap: break-word;
		}

	.profile-box{
		flex-direction: column; 
		width: 100%;
	}

	.profile-photo{
		margin: 0 auto;
		padding: 10px;
		width: 60%;

	}

	.profile-text{
		padding: 0px;
		margin: 0 auto;
		font-size: 0.9rem;
		text-align: left;
		width: 90%;

	}

	.company-box,.history-box,.Inner{
		width: 95%;

	}

	td,th{
		text-align: left;
		font-size:1rem;
	}


	/*フロー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
  .List-Item {
    border-top: 1;
    margin-top:10px; 
  }



  .List-Item-Content {
  	width: 100%;
    padding: 10px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }

  .List-Item-Content-Number {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
  }

  .List-Item-point,.List-Item-point-text,.List-Item-point-text ul{
  	width: 100%;
  }


  .List-Item-Content-Title {
    max-width: 100%;
    font-size: 1.3rem;
    text-align: left;
	}

  .List-Item-Content-Description {
  	margin-top:-12%; 
  	text-align: left;
    margin-left: 60px;
    width: 100%;
    font-size: 1rem;
    overflow-wrap: break-word;
	word-wrap: break-word;
	}

	.course-price{
		font-size: 1.8rem;
	}
	.course-plan-box{
		width: 100%;
	}
	.course-plan-table,.course-plan-table2{
		width: 95%;
		margin: 0 auto;
	}
	.course  {
		width: 90%;
		margin: 0 auto 10px;
	}
	.course th,.course td {
		padding: 5px;
		text-align: center;
 	}

 	.plus-photo{
 	display: none;
	 }


.course-plan-table3{
	width: 95%;
	margin: 10px auto;
	text-align: left;
}
	.col-md-3{
		width: 100%;
		padding-right:0% ;
	}


	.steps-title img{
		height: 80px;
		margin: 20px;
		text-align: center;
	}

  .steps-title {
    width: 70%;
    margin: 0 auto 30px;
    background: #71A8D9;
    text-decoration: none;
    color: #333333;
    position: relative;
    height: auto;
    text-align: center;
    padding: 10px;
  }
  .steps-title::after {
    content: "";
    display: block;
    border-top: 30px solid #71A8D9 !important;
    border-right: 32vw solid transparent !important;
    border-left: 32vw solid transparent !important;
    border-bottom: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px !important;
    top: auto !important;
    left: 50%;
    margin-top: 0 !important;
    margin-left: -32vw;
  }
  

	.pager .pagination li{
	  display: none;
	}

	.pager .pagination li.pre,
	.pager .pagination li.next{
	  display: inline-block;
	  width: 40%;
	  height: 30px;
	  text-align: center;
	}
  
	.pager .pagination li.pre a,
	.pager .pagination li.next a{
	  width: 100%;
	  text-align: center;
	}

	.pager .pagination li.pre span::after{
	  content: "　前へ";
	}
  
	.pager .pagination li.next span::before{
	  content: "次へ　";
	}
  
}